.checkout-page{

padding:40px;
background:#f7f7f7;
min-height:80vh;

}


.checkout-page h1{

text-align:center;
color:#ff6b00;

}


.checkout-container{

display:flex;
gap:30px;
justify-content:center;
margin-top:30px;

}



.address-box,
.payment-box{

background:white;
padding:30px;
border-radius:15px;
width:350px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);

}



input,
textarea{

width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ddd;
border-radius:8px;

}



textarea{

height:100px;

}



.payment-box button{

width:100%;
padding:15px;
margin-top:20px;
background:#ff6b00;
color:white;
border:none;
border-radius:8px;
font-size:18px;

}



@media(max-width:800px){

.checkout-container{

flex-direction:column;
align-items:center;

}

}